@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .col {
    @apply flex flex-col;
  }

  .row {
    @apply flex flex-row;
  }

  .report-card-container {
    @apply w-[13.6rem] h-[19.375rem] rounded-md p-4 shadow-report cursor-pointer select-none
  }

  .report-card-inner-container {
    @apply flex flex-col h-full gap-[0.625rem]
  }

  .button-in-layout {
    @apply absolute bg-white hover:bg-white !text-blue-400 !border-blue-400 font-normal z-30
  }
}

@layer utilities {
  .box-parent-add .box-button-add {
    visibility: hidden;
  }

  .box-parent-edit .box-button-add {
    visibility: hidden;
  }

  .box-parent-add:hover .box-button-add {
    visibility: visible;
  }

  .box-parent-edit .box-button-edit {
    visibility: hidden;
  }

  .box-parent-add .box-button-edit {
    visibility: hidden;
  }

  .box-parent-edit:hover .box-button-edit {
    visibility: visible;
  }
}

body {
  color: #000000;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.mantine-Modal-content {
  border-radius: 8px;
}

.input {
  border-radius: 8px;
}
